.upper {
    background-color: rgba(22, 13, 14);
    color: rgba(253, 255, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 3vw;
    padding-bottom: 3vw;
    /* border: .5px solid red; */
}

.infocaption{
    font-size: 1.3em;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    letter-spacing: 0.15vw;
    color: rgb(96, 97, 96);
}

.extrainfo{
    font-size: 1em;
    color: rgb(211, 214, 209);
    letter-spacing: 0.05vw;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
}


.row1{
    flex-basis: 33%;
    align-self: center;
    text-align: left;
    /* border: .5px solid red; */
}
.row2{
    flex-basis: 30%;
    align-self: center;
    /* border: .5px solid red; */
}
.row3{
    flex-basis: 33%;
    align-self: center;
    text-align: left;
    /* border: .5px solid red; */
}

.footer {
    background-color: rgba(22, 13, 14);
    color: rgba(253, 255, 252);
    height: 1vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    padding-top: 2vw;
    /* border: .5px solid red; */
  }

.footerbox {
    display: flex;
    width: 46.6%;
    /* border: 3px solid red; */
    flex-direction: row;
}

.rtl {
    direction: rtl;
}